[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMPERATURE = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMPERATURE = params.EXTRUDER_TEMP|default(190)|float %}
    
    G28 ; Home all axes
    M140 S{BED_TEMPERATURE} ;Start heating bed
    # Use absolute coordinates
    G90
    # Reset the G-Code Z offset (adjust Z offset if needed)
    SET_GCODE_OFFSET Z=0.0
    # Home the printer
    G28
    # Move the nozzle near the bed
    G1 Z5 F3000
    # Move the nozzle very close to the bed
    G1 Z0.15 F300
    M104 S{EXTRUDER_TEMPERATURE } ;Start heating extruder
    M109 S{EXTRUDER_TEMPERATURE } ;Wait for extruder to reach temp before proceeding
    M190 S{BED_TEMPERATURE } ;Wait for bed to reach temp before proceeding
    #BED_MESH_CALIBRATE
    #BED_MESH_PROFILE SAVE=E3Klipper
    BED_MESH_PROFILE LOAD=default
    G28 ; Home all axes
    G1 Z2.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed
    G0 X2 Y0 ; Move to the left of the brush
    
    G1 Z3.0 F3000 ; Move Z Axis up little to prevent crashing with the bed retainer clip
    G1 X0.1 Y35 F5000.0 ; Move to start position
    G1 Z0.3 F5000.0 ; Lower the Z axis down

    G1 X0.1 Y200.0 Z0.3 F1500.0 E15 ; Draw the first line on left side of bed
    G1 X0.4 Y200.0 Z0.3 F5000.0 ; Move to side a little
    G1 X0.4 Y35 Z0.3 F1500.0 E30 ; Draw the second line back to front

    G92 E0 ; Reset Extruder
    G1 Z3.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed
    G1 X5 Y35 Z0.3 F5000.0 ; Move over to prevent blob squish

[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 E-3 F300
    # Raise nozzle by 10mm
    G1 Z10 F3000
    G90
    # Disable steppers
    M84
